extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Benjamin Thai
        p.lead.text-light
          | Full Stack Web Developer.
        .portfolio-bio
          p
            | Hey folks, Welcome to my portfolio! Here are some of the projects that I've completed for TeamTreehouse's Tech Degree.
      
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li Html
          li Css
          li Bootstrap
          li Javascript
          li Node
          li Express
          li Pug
          li JQuery

        h6 Contact Info
        ul
          li 510-931-8871
          li itsbenthai@gmail.com
        a.button.expanded(href='https://www.linkedin.com/in/benjamin-thai-898858107/', target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/benspankem', target="_blank" GitHub
  
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  