extends layout.pug

block content
  article.grid-container.portfolio-intro
    div.indexHeader
      h1.indexHeader Ben's Portfolio
      p.lead.text-light
        | Here are some awesome projects that I've completed for TeamTreeHouse's Tech Degree!
  article.grid-container.portfolio-index

    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3
      each project in projects
        .cell
          a(href=`project/${project.id}`)
            img.thumbnail.indexImg(src=`${project.image_urls[0]}`)
            h5 #{project.project_name}
      
